*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #212121;
}

section{
    width: 50vw;
    height: 50vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section header{
    background-color: rgb(62, 104, 184);
    padding: 30px;
    border-radius: 10px;
    color: aliceblue;
    border: 1.5px solid black;
}
section button{
    padding: 5px 10px;
    background-color: white;
    margin-top: 20px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}
section button:hover{
    background: rgb(207, 207, 207);
    transform: scale(1.08);
}
section button:active{
    background: #ccc;
    transform: scale(1.05);
}
.options{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.back{

    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 0;
    padding: 30px;
}
.error{
    background-color: #fd4029;
}
.right{
    background-color: #60b84f;
}