*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(https://wallpaperaccess.com/full/893205.png);

}
main{
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block{
  margin: 10px 5px;
  width: 10vw;
  height: 20vh;
  border: 1px solid black;
  position: relative;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s;
  background: #a20000;
  color: white;    
}
.block:hover{
  margin-top: 20px;
  width: 15vw;
  height: 25vh;
  color: #000;
  background: #bb1f03;
}
a{
  font-size: 23px;
  text-decoration: none;
  color: aliceblue;
}
.test{
  position: relative;
  width: 50vw;
  height: 50vh;
  background-color: #a20000;
}

.hiden{
  display: none;
}